# Identifiants de l'API RTE
RTE_CLIENT_ID=votre_client_id_ici
RTE_CLIENT_SECRET=votre_client_secret_ici
# Configuration du Proxy (Optionnel - peut être requis sur votre réseau interne entreprise)
# Laissez vide si vous n'utilisez pas de proxy (ex: hors du réseau entreprise)
HTTP_PROXY=
HTTPS_PROXY=